.frame {
  position: relative;
  box-sizing: border-box;
}

.frameOnMouse {

}

.boxContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 342px;
  min-width: 30.8vw;
  height: 249px;
  min-height: 31.6vh;
  position: relative;
  box-shadow: 0 0 4px 0 rgb(84 84 84 / 45%);
  border-radius: 8px;
}

.boxContentMouseOn {
  box-shadow: 0 0 8px 0 rgb(84 84 84 / 45%);
}

.boxImg {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 4px;
  background-color: rgba(217, 232, 255, 0.15);
  overflow: hidden;
}

.boxRowBottom {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 16px 0 0;
  padding: 0 12px 0 0;
}

.boxNodes {
  display: flex;
  align-items: baseline;
}

.boxAuthor {
  max-width: 100%;
}

.boxTitlePin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  margin-left: 5px;
}

.spanBaseNode {
  display: inline-block;
  border-bottom: solid 0.75px transparent;
}

.spanBaseNodeMouse {
  border-bottom: solid 0.75px #545454;
}


@media screen and (max-width:860px) {
  .frmaeSmall {
    width: 100%;
  }

  .boxContent {
    width: 100%;
    height: 232px;
  }
}
