.comAtNodeFeed {
  display: flex;
  flex-direction: column;
}

.comFeedEmpty {
  width: 100%;
  padding-top: 6rem;
}

.boxRow {
  position: relative;
  margin: 12px 0;
}

.boxTitle {
  margin: 8px 0;
}

.boxModule{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boxModuleItem {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 8px 0;
}

.boxFeedToday {
  display: flex;
  flex-direction: column;
}

.boxFeedPast {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxRowPastSubtitle {
  width: 79%;
  box-sizing: border-box;
  margin: 0 0 8px;
  padding: 8px 0 0;
  border-top: solid 1px #b8b8b8;
  text-align: center;
}

.boxDescript {
  width: 100%;
  text-align: center;
}

.boxEmptyDescript {
  width: 100%;
  text-align: center;
}

.boxFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 38px;
  margin-bottom: 36vh;
}

.spanFooterHint {
  margin: 8px 0;
}

@media screen and (max-width:860px) {
  .boxModuleSmall {
    justify-content: center;
  }

  .boxModuleItem {
    width: 94.24vw;
    max-width: 390px;
  }

  .boxFooter {
    margin-bottom: 19vh;
  }
}
